span {
  display: block;
  justify-content: center;
  font-size: larger;
  color: #181614;
  background-color: rgb(199, 198, 198);
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  border-radius: 1em 0em 1em 0em;
  margin-top: 1em;
}

p {
  margin: 1em;
}
.green {
  margin: 0em 0em;
  font-size: xx-large;
  color: green;
}

.red {
  margin: 0em 0em;
  font-size: xx-large;
  color: red;
}
