span {
  display: block;
  justify-content: center;
  font-size: larger;
  color: #1f1d1b;
}

p {
  margin: 1em;
}
.green {
  margin: 0em 0em;
  font-size: xx-large;
  color: green;
}

.red {
  margin: 0em 0em;
  font-size: xx-large;
  color: red;
}

.quote_view {
  background-color: rgba(223, 215, 215, 0.8);
  max-width: 350px;
}
