.post {
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: 85%;
  min-width: 300px;
  max-width: 650px;
  border-radius: 10px 10px 15px 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0.5em;
  border-left: solid 1px black;
}

a {
  text-decoration: none;
}
.title {
  color: #49483e;
}

.author {
  font-size: smaller;
  font-style: italic;
  color: #606c38;
}

.post:hover {
  box-shadow: 0 2px 8px rgba(104, 177, 121, 0.25);
  transform: translateY(-1px);
}
