.post {
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  margin: auto;
  padding: 0.5em 0.5em;
  border: solid 2px black;
}

.author {
  font-size: smaller;
  font-style: italic;
}
